/* import를 이용해 url함수를 호출 */
@import url("./sub.css");


ul > li:nth-child(5) {
  background-color: red;
}

/* 선택자는 뒤에서부터 읽자. 앞에서부터 보면 오류를 범할 수 있다.
3번째 자식에 해당하는 녀석이 div고, 그 div의 부모가 div에 해당되는 모든 태그 */
div div:nth-child(3){
  background-color: blue;
}



#testid {
  color: blue;
}

.testclass {
  color: green;
}

.parent {
  position: absolute;
}
/* inherit -> 부모의 스타일 값을 강제로 상속 */
.child {
  position: inherit;
}


/* 
:는 가상클래스
::는 가상요소
*/



/* div태그 중 hey클래스를 가진 녀석들 */
div.hey {
  background-color: violet;
}


/* 
css형식

선택자  {적용할 스타일}
*/


/* 
해당 태크가 가진 디스플레이 기본값을 반드시 알고 있어야 한다
div {
  display: block; (상자)
}
span {
  display: inline; (글자)
}
*/