<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script type="module" defer src="./main.js"></script>
    <style>
      .img-na {
        width: 40px;
        height: 40px;
        background-color: lightcyan;
        display: inline-block;
      }
      button.active {
        background-color: red;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <input v-model="title" @keydown.enter="searchMovies(true)" />
      <!-- class 바인딩해서 제어하기 -->
      <!-- 최초 movies.length 0이므로 active class가 추가되지 않는다 -->
      <!-- 바인딩되면 데이터가 된다 -->
      <button :class="{active: movies.length}" @click="searchMovies(true)">Search!</button>
      <ul>
        <li v-for="(movie, index) in movies" :key="movie.imdbID">
          <span>{{index+1}}</span>
          <img v-if="movie.Poster !== 'N/A'" :src="movie.Poster" alt="" height="40" />
          <div v-else class="img-na"></div>
          {{ movie.Title }}
        </li>
      </ul>
      <!-- 참조 요소를 vue한테 알려줌  ref="이름" -->
      <!-- v-if를 사용하면 false일때 요소 랜더링 안하니 ref 사용불가  -->
      <!-- v-show는 요소를 일단 랜더링은 하므로 ref를 붙일 수 있음.  display none의 개념 -->
      <!-- &&를 이용하자 -->
      <div v-show="hasTheRest && isVisibleObserver" ref="observer">Loading...</div>
    </div>
  </body>
</html>
