li {
  display: flex;
}
li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
li .title {
  flex-grow: 1;
}
li.sortable-ghost {
  border-color: red;
}
li.sortable-drag {
  opacity: 0.5 !important;
}
button.btn {
  margin: 2px;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: lightgray;
  cursor: pointer;
  transition: 0.2s;
}
button.btn:hover {
  transform: scale(1.1);
}
